.health-recommendation-section-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.health-recommendation-section-block {
  display: flex;
  justify-content: space-around;

  @media (max-width: 860px) {
    display: flex;
    flex-direction: column;
  }
}