@import "../../css/breakpoints.scss";

.info-page-outer-container {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  position: relative;
  width: 100vw;
  margin-bottom: 2em;
  padding-left: 83px;
  @media screen and (max-width: 768px) {
    padding-left: 0;
    padding-top: 92px;
  }
}

.info-page-header {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  margin-bottom: 1em;
}

.info-page-header-back-button {
  padding: 0px 5px;
  cursor: pointer;
  opacity: 0.8;

  #back-arrow {
    height: 35px;
  }
}

.info-page-header-back-button:hover {
  opacity: 1;
}


.info-page-logo {
  display: flex;
  align-items: center;

  p {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 2px;
    padding: 0px 5px;
  }

  @media (max-width: 500px) {
    p {
      font-size: 13px;
    }
  }

  img {
    padding: 0px 5px;
    height: 60px;
  }
}

.info-page-header-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  margin-right: 1em;

  p {
    color: var(--atta-color-scheme-temp-primary-color, #1E4359);
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  img {
    height: 40px;
  }
}


.info-page-blocks {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.5em;
  padding: 0 3em;

  @media (max-width: 680px) {
    padding: 0 1em;
  }
}

.info-page-block-01 {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.info-page-block-02 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 28px;
  background: var(--atta-color-scheme-temp-text-background, #F9F9F9);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.30);
  padding: 20px 0px;

  @media (max-width: 860px) {
    display: flex;
    flex-direction: column;
  }

  .info-page-block-02-section-01 {
    img {
      height: 80px;
    }
  }

  .into-page-block-02-section-02 {

    .info-page-block-02-section-02-us-aqi {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-right: 10px;
      }

      img {
        height: 28px;
        margin-left: 10px;
      }
    }

    .aqi-number {
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      // border: 1px solid blue
    }
  }

  .info-page-block-02-section-04 {
    display: flex;
    flex-direction: column;

    .first {
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      padding: 5px
    }

    .second {
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 5px
    }
  }
}

.info-page-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #000;
  background: var(--atta-color-scheme-temp-tertiary-background, #F5FAFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @include media('>1025px') {
    //left: 28%;
  }

  @include media('>1400px') {
    //top: 20%;
    //left: 30%
  }


}

.info-page-modal-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(154, 199, 217, 0.60);


  padding: 5px;

  img {
    opacity: 0;
    height: 70px;
  }
}

.info-page-modal-middle {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .p-01 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .p-02 {
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .p-03 {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin: 5px 0px;
    text-align: center;
  }

  .p-04 {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    text-align: center;
  }
}

.info-page-modal-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 10px;

  .modal-continue-button {
    border-radius: 16px;
    border: 2px solid var(--TempPrimaryColor, #1E4359);
    background: var(--TempPrimaryColor, #1E4359);
    color: white;
    padding: 16px 80px;
    font-size: 20px;
  }

  .modal-continue-button:active {
    background: white;
    color: var(--TempPrimaryColor, #1E4359);
    border: 2px solid var(--TempPrimaryColor, #1E4359);
  }

  .modal-cancel-button {
    border: 2px solid white;
    border-radius: 16px;
    background: white;
    color: #616161;
    padding: 16px 80px;
    border: none;
    font-size: 20px;
  }
}