.introduction-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background-image: url("../../assets/unsplashBig.png");
  /* Additional styling properties */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-direction: column;
}

.introduction-container-header {
  display: flex;
  align-items: center;
  padding: 20px;

  p {
    margin-left: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.5px;
  }

  img {
    height: 80px;
  }

  @media (max-width: 425px) {
    p {
      font-size: 23px;
    }
  }
}

.introduction-container-body {
}

.introduction-container-box {
  background: #f9f9f9;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  flex-direction: column;
  padding: 30px 40px;
  margin: 2em 5em;

  @media (max-width: 710px) {
    margin: 1em;
  }
}

.introduction-container-section-01 {
  p {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.5px;
  }

  @media (max-width: 425px) {
    p {
      font-size: 22px;
    }
  }
}

.introduction-container-section-02 {
  p {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.5px;
  }

  @media (max-width: 425px) {
    p {
      font-size: 13px;
    }
  }
}

.introduction-container-section-03 {
  margin-top: 15px;

  p {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.5px;
  }
}

.introduction-container-section-04 {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  img {
    height: 70px;
  }

  .introduction-container-section-04-right {
    display: flex;
    height: 180px;

    .introduction-container-section-04-right-text-container {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      p {
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 0.5px;
      }

      .introduction-container-section-04-right-text-container-title {
        color: #000;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0.5px;
      }
    }
  }

  .introduction-container-section-04-center {
    display: flex;
    height: 180px;
    margin-left: 50px;

    .introduction-container-section-04-center-text-container {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      p {
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 0.5px;
      }

      .introduction-container-section-04-center-text-container-title {
        color: #000;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0.5px;
      }
    }
  }
  .introduction-container-section-04-left {
    display: flex;
    height: 180px;
    margin-right: 52px;

    .introduction-container-section-04-left-text-container {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      p {
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        line-height: 28px;
        letter-spacing: 0.5px;
      }

      .introduction-container-section-04-left-text-container-title {
        color: #000;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 41px;
        letter-spacing: 0.5px;
      }
    }
  }
}

.introduction-container-section-05 {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    border-radius: 16px;
    background: var(--TempPrimaryColor, #1e4359);
    color: white;
    padding: 18px 26px;
    border: none;
    outline: none;
    color: var(--material-theme-white, #fff);

    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
  }
}
