.introduction-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/unsplashBig.png");
  /* Additional styling properties */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-direction: column;
}

.introduction-container-header {
  display: flex;
  align-items: center;
  padding: 20px;

  p {
    margin-left: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.5px;
  }

  img {
    height: 80px;
  }

}

.introduction-container-body {
  height: 100vh;
}

.introduction-container-box {
  margin: 30px 120px;
  background: #f9f9f9;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  flex-direction: column;
}

.introduction-container-section-01 {
  border: 1px solid red;
}

.introduction-container-section-02 {
  border: 1px solid red;
}

.introduction-container-section-03 {
  border: 1px solid green;
}

.introduction-container-section-04 {
  border: 1px solid green;
  display: flex;
  justify-content: space-around;


  .introduction-container-section-04-right {
    border: 1px solid red;
    display: flex;
    align-items: center;

    p {
      color: #000;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 41px;
      letter-spacing: 0.5px;
    }
  }

  .introduction-container-section-04-left {
    border: 1px solid red;
    display: flex;
    align-items: center;

    p {
      color: #000;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 41px;
      letter-spacing: 0.5px;
    }
  }
}

.introduction-container-section-05 {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}