$map-height: 700px;

.map-route-container {
  border: 1px solid black;
  margin: 10px;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.google-map-container {
  // border: 1px solid red;
  height: 100vh;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.map-route-container-info-window {
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  button {
    border: none;
    color: #FFFFFF;
    display: inline-flex;
    width: 110px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--atta-color-scheme-temp-primary-color, #1E4359);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 7px;
  }

  button:focus {
    outline: none;
  }
}