.pollutant-card-container {
  border-radius: 20px;
  background: var(--temp-text-background, #F9F9F9);
  padding: 20px 20px;
  margin: 15px;
  position: relative;
}

.pollutant-card-top {
  display: flex;
  align-items: center;

  img {
    height: 28px;
    margin-left: 40px;
  }
}

.pollutant-card-name-and-unit {
  display: flex;
  // border: 1px solid blue;
  align-items: center;
  margin-right: 40px;


  .pollutant-card-name {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 50px;
  }

  .pollutant-card-unit {
    color: #000;
    text-align: right;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.8;
    margin-left: 5px;
  }
}

.pollutant-card-middle {
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1px;
}

.pollutant-card-name-na {
  color: rgba(0, 0, 0, 0.20);
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.pollutant-card-category {

  color: #000;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.pollutant-card-bottom {
  border-radius: 8px;
  // background: var(--Good-AQI, #A8E05F);
  height: 6px;
  margin-top: 8px;
}



// styles for modal
.pollutant-card-container-modal {
  border-radius: 16px;
  width: 250px;
  height: 400px;
  position: absolute;
  background: var(--atta-color-scheme-temp-text-background, #F9F9F9);
  border: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px
}

.pollutant-card-container-modal-x {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    border: none;
    padding: 2px 6px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: lightgrey;
    opacity: 0.8;
  }
}

.pollutant-card-container-modal-header {
  display: flex;
  justify-content: space-between;
}

.pollutant-card-container-modal-header-left {

  .pollutant-card-container-modal-header-pollutant-name {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .pollutant-card-container-modal-header-pollutant-units {
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-align: end;
    opacity: 0.5;
  }
}

.pollutant-card-container-modal-header-right {
  border-radius: 14px;
  color: #000;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 10px 20px;
  text-align: center;
}

.pollutant-card-container-modal-upper-text {
  margin-top: 10px;
  border: 1px solid red;
}

.pollutant-card-container-modal-middle-text {
  margin-top: 10px;
  border: 1px solid red;

}

.pollutant-card-container-modal-lower-text {
  margin-top: 10px;
  border: 1px solid red;

}