.swiper {
  width: 92%;
  height: 90%;
  color: #1e4359;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  // align-items: center;
}
