.compare-cities-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-image: url('../../assets/landingPageBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 140px;
    @media screen and (max-width: 710px) {
        padding-left: 0;
        padding-top: 140px;
    }

}

.compare-cities-header {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    margin: 20px 2em;
    line-height: 64px;

    @media (max-width: 710px) {
        margin: 20px 1em;
      }
}

.compare-cities-content {
    background: #f9f9f9;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 40px;
    margin: 2em 5em;
  
    @media (max-width: 710px) {
      margin: 1em;
    }

}

.compare-cities-description {
font-family: Montserrat;
font-size: 18px;
}

.compare-cities-subtitle {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 33px;
}

.compare-cities-how-it-works-list {
    font-family: Montserrat;
    font-size: 18px;
    margin-left: 20px;
    line-height: 28px;
}

.compare-cities-city-list {
    display: flex;
    flex-wrap: wrap;
}

.city-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    background: none;
    color: black;
    width: 48%;
}

.city-button-image {
    width: 187px;
    height: 140px;
}

.city-button-label {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
}

.show-full-list-button {
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    padding: 12px 24px;
    align-self: center;
    border-radius: 20px;
}