#debugger-buttons li{
    float: left;
    list-style: none;
    text-align: center;
    margin-right: 30px;
    line-height: 60px;
}

#debugger-buttons li button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
    display: block;
    border-radius: 8px;
    padding: 4px;
}

#debugger-buttons li button:hover{
    text-decoration: none;
    color: #000000;
    background-color: #eeeeee;
}