.filter-component {
  margin-bottom: 20px;
  padding: 10px;
  // border: 1px solid #ccc;
  border-radius: 20px;
  transition: background-color 0.3s;
  width: 113%;
}

.filter-header.open {
  background-color: rgba(154, 199, 217, 0.6); /* Change to your desired color */
}

.filter-header {
  width: 100%;
  position: relative;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-evenly;
  padding: 6px 12px;
  box-sizing: border-box;
  gap: 8px;
  text-align: center;
  font-size: 25px;
  color: #000;
  font-family: Montserrat;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 7px;
}
.title {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.dropdown-arrow {
  width: 20px;
  height: 20px;
  justify-content: flex-end;
}

.filter-options {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #01253b;
}

.filter-options label {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.filter-options input {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox {
  flex: -2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.filter-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
