.navbar-container {
    position: fixed;
    border: none;
    width: 140px;
    height: fit-content;
    background: #F5FAFF;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border: 1px solid #E1E1E1;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 140px;
      flex-direction: row;
      align-items: center;
      padding: 25px;
      z-index: 2;

    }
  }


.navbar-button {
    background: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 2vh 40px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    @media screen and (max-width: 768px) {
      background: transparent;
      flex-direction: row;
      gap: 10px;
      font-size: 16px;
      padding: 14px 21px;

    }
}

.navbar-button-logo {
  @media screen and (max-width: 768px) {
    height: 21px;
    width: 21px;
  }
}

.navbar-atta-div {
  color: black;
  width: 100%;
  margin: 0;
  padding: 2vh 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
    padding: 0;
    background: transparent;
    display: flex;
    flex-direction: row;
    gap: 20px;


  }

}

.admin-login-button {
  visibility: hidden;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.tablet-nav-hamburger-button {
  background: transparent;

}

.nav-atta-section {
  flex: 1 1 auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  @media only screen and (max-width: 768px) {
    position: fixed;
    background: #F5FAFF;
    top: 140px;
    right: -100%;
    width: 208px;
  }
}
.show-menu {
  right: 0;
}

.nav-button-section {
  flex: 0 0 auto;

}

.nav-admin-login-section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
