@import "../../css/breakpoints.scss";

$swipe-breakpoint-one: ">480px";
$swipe-breakpoint-two: ">520px";
$swipe-breakpoint-four: ">630px";

.swipe {
  max-width: 710px;
  max-height: 634px;
  padding: 2em;
  margin: 0 1em 0 1em;
  background: var(--temp-text-background, #f9f9f9);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: inline-flex;
  left: 500px;
  top: 100px;
  cursor: pointer;

  @include media(">1439px") {}
}

.swipe:hover {
  opacity: 0.9;
}

.swipe-upper {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.swipe-header {
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  margin-top: 44px;
  margin-right: 28.5px;
  margin-left: 28.5px;
  margin-bottom: 16px;

  @include media(">14px") {
    font-size: 50px;
  }
}

.swipe-description {
  display: none;

  @include media(">630px") {
    display: block;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  @include media(">710px") {
    font-size: 18px;
  }
}

.swipe-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  padding: 0px;
  margin-top: 48px;

  img {
    height: 75px;
    width: 75px;
    margin-bottom: 16px;

    @include media(">630px") {
      height: 75px;
      width: 75px;
    }

    @include media(">710px") {
      height: 75px;
      width: 75px;
    }
  }

  .swipe-by {
    display: none;

    @include media(">630px") {
      display: block;
      color: #000;
      font-family: Montserrat;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 2px;
    }

    @include media(">710px") {
      font-size: 18px;
    }
  }

  .swipe-atta {
    text-align: center;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

    @include media(">710px") {
      font-size: 18px;
    }
  }
}

.swipe-lower {
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;

  .swipe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 125px;
    border-radius: 12px;
    max-width: 100%;
    height: 50px;
    border: none;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    outline: none;

    .arrow {
      width: 100%;
      margin-right: 15px;
    }

    svg {
      height: 24px;
      width: 24px;
      fill: white;
      margin-right: 8px;
      /* Adjust the spacing as needed */
    }

    p {
      color: white;
      margin: 0;
      /* Reset margin for the `<p>` element */
      display: inline;
      /* Add display: inline to ensure the `<p>` element stays on the same line */
    }

    @media (min-width: 630px) {
      height: 39px;
    }

    @media (min-width: 710px) {
      width: 125px;
      font-size: 18px;
    }
  }
}