.pollutant-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pollutant-section-container-top {
  display: flex;
  justify-content: space-around;
}

.pollutant-section-container-bottom {
  display: flex;
  justify-content: space-around;
}